# Using RMSE to Evaluate Our Model

In [1]:
import pandas as pd
import numpy as np

In [39]:
# RMSE = Root Media Square Error

In [2]:
proj_df = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
proj_df.head()

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,203932,1.994430,0.710601,5.126943,3.961834,1.402502,13.509175,5.956650,3.608475,2.800268,...,2.4,3.2,0.731,1.7,5.7,3.7,2.1,0.7,0.7,16.0
1,201143,3.247733,1.025916,4.582944,3.079483,1.127251,10.359166,4.860939,1.927194,1.470858,...,1.1,1.4,0.821,1.8,5.0,4.2,1.5,0.9,1.3,13.6
2,202329,1.754433,0.446132,4.286956,3.877699,1.407756,8.190519,3.574506,1.679742,1.238291,...,1.9,2.1,0.867,1.4,6.1,1.3,0.9,0.8,0.4,9.4
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
4,203518,0.988705,0.112903,1.361302,2.800757,1.065089,4.592593,1.876591,0.839953,0.668980,...,0.4,0.4,0.923,0.2,1.4,0.6,0.5,0.5,0.2,5.3

In [9]:
proj_df['squared_error'] = (proj_df['proj_pts'] - proj_df['pts'])**(2)

In [10]:
mse = proj_df['squared_error'].mean()  # MEAN SQUARED ERROR

In [11]:
rmse = mse ** (1/2)

In [12]:
rmse

np.float64(3.302971088916984)

In [14]:
proj_df['squared_error'] = (proj_df['proj_ast'] - proj_df['ast'])**(2)

In [15]:
mse = proj_df['squared_error'].mean()

In [16]:
rmse = mse ** (1/2)

In [17]:
rmse

np.float64(0.9944342105776937)

In [18]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [19]:
player_proj = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
player_info = pd.read_csv('../nba-stats-csv/player_info_df.csv')

In [20]:
player_proj.sample(5)

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
301,202083,2.453160,0.258031,2.717261,4.912339,1.804222,10.202065,4.273306,1.913502,1.523836,...,1.9,2.4,0.810,0.5,2.0,2.3,1.3,0.8,0.2,12.2
163,1626162,1.819665,0.459598,3.566912,4.109323,1.464384,9.664409,4.144963,2.506072,1.964850,...,2.7,3.5,0.775,1.0,3.7,1.2,1.5,1.2,0.9,15.2
295,1626145,2.795242,0.177155,1.188816,1.142065,0.322845,4.456530,1.711593,1.079924,0.787995,...,0.9,1.0,0.841,0.3,1.6,4.8,0.7,1.2,0.1,6.9
224,201956,0.722514,0.433583,2.509998,0.689174,0.185120,4.967855,2.224176,1.467354,1.064869,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
235,200794,1.815049,1.020895,4.858035,3.011463,0.996494,12.843704,5.872222,3.361302,2.502695,...,2.6,3.6,0.727,2.2,5.0,2.0,1.4,1.2,0.8,12.6

In [22]:
df_real = player_proj.loc[:, ['pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','tov','blk']]

In [23]:
df_proj = player_proj.loc[:, ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_tov','proj_blk']]

In [24]:
df_real.sample(5)

      pts   min  fgm   fga  fg3m  fg3a  ftm  fta  oreb  dreb  ast  tov  blk
48    5.4  17.1  2.2   3.1   0.0   0.0  1.0  1.5   1.3   1.8  1.2  0.7  1.0
54    9.4  25.1  3.0   6.5   1.9   4.6  1.4  1.8   0.6   2.9  1.0  0.9  0.3
232   9.9  23.3  3.4   8.1   1.9   4.9  1.1  1.3   0.3   1.9  3.0  1.1  0.1
27   12.5  28.7  4.4   9.7   2.3   6.3  1.4  1.6   0.4   4.5  1.2  1.0  2.2
87   14.8  27.2  5.6  12.5   1.2   3.6  2.4  3.2   0.6   2.8  3.9  2.4  0.3

In [25]:
df_proj.sample(5)

,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_tov,proj_blk
265,24.218132,36.919716,8.239696,18.121979,2.959580,7.302788,4.791590,5.516614,0.868593,3.672889,5.607294,2.873208,0.285553
122,8.672912,23.153106,3.140474,7.431207,1.278828,3.544201,1.111105,1.374845,0.510910,2.464703,1.355455,0.920849,0.175954
12,9.816780,26.515261,3.695166,8.244534,0.705948,1.990963,1.739559,2.121391,0.378249,2.267253,3.745870,1.552845,0.198120
97,15.930444,32.681252,5.968277,14.016625,1.708421,4.415865,2.271508,2.885790,0.947254,3.253948,2.670911,1.671079,0.303032
18,14.427757,30.662699,5.483559,12.637093,1.701636,4.621161,1.705227,2.187234,0.622768,2.679902,2.301416,1.541796,0.176428

In [26]:
se = mean_squared_error(df_real, df_proj)

In [27]:
mse = np.mean(se)

In [28]:
rmse = np.sqrt(mse)

In [29]:
confidence = rmse

In [31]:
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.95 percent confidence in projected 2018-19 per game stats

In [32]:
df_real_stats = pd.concat([player_info, df_real], axis=1)

In [33]:
df_real_stats.sample(5)

,player_name,player_id,proj_season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
68,Derrick Jones Jr.,1627884,2018-19,7.0,19.2,2.7,5.4,0.5,1.5,1.2,2.0,1.6,2.4,0.6,0.7,0.7
121,Jabari Parker,203953,2018-19,14.5,26.9,5.8,11.7,1.0,3.0,2.0,2.9,1.2,5.3,2.4,2.4,0.5
37,Channing Frye,101112,2018-19,3.6,9.5,1.2,3.3,0.9,2.2,0.3,0.4,0.1,1.3,0.6,0.4,0.1
132,Jarell Martin,1626185,2018-19,2.7,7.8,1.0,2.5,0.5,1.4,0.2,0.3,0.3,1.5,0.4,0.3,0.2
47,D.J. Augustin,201571,2018-19,11.7,28.0,3.9,8.4,1.6,3.8,2.2,2.6,0.5,2.0,5.3,1.6,0.0

In [34]:
df_real_stats.rename(columns =
                    {'proj_season_id' : 'season_id'}, inplace=True)

In [35]:
df_proj_stats = pd.concat([player_info, df_proj], axis=1)

In [37]:
df_proj_stats.rename(columns =
                     {
                         'proj_season_id' : 'season_id',
                         'proj_pts' : 'pts',
                         'proj_min' : 'min',
                         'proj_fgm' : 'fgm',
                         'proj_fga' : 'fga',
                         'proj_fg3m' : 'fg3m',
                         'proj_fg3a' : 'fg3a',
                         'proj_ftm' : 'ftm',
                         'proj_fta' : 'fta',
                         'proj_oreb' : 'oreb',
                         'proj_dreb' : 'dreb',
                         'proj_ast' : 'ast',
                         'proj_stl' : 'stl',
                         'proj_tov' : 'tov',
                         'proj_blk' : 'blk'
                     }, inplace=True
                    )

In [40]:
display(df_real_stats.head(5)) # Shows normalized projected stats for the next season

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,2.1,0.7
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,1.5,1.3
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.9,0.4
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,1.0,0.3
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.2

In [43]:
display(round(df_proj_stats, 1).head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,1.6,0.7
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,1.6,1.0
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,1.1,0.4
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,1.0,0.1
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.6,0.1