# Using RMSE to Evaluate Our Model

In [77]:
import pandas as pd
import numpy as np

In [78]:
# RMSE = Root Media Square Error

In [79]:
proj_df = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
proj_df.head()

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,203932,1.994430,0.710601,5.126943,3.961834,1.402502,13.509175,5.956650,3.608475,2.800268,...,2.4,3.2,0.731,1.7,5.7,3.7,2.1,0.7,0.7,16.0
1,201143,3.247733,1.025916,4.582944,3.079483,1.127251,10.359166,4.860939,1.927194,1.470858,...,1.1,1.4,0.821,1.8,5.0,4.2,1.5,0.9,1.3,13.6
2,202329,1.754433,0.446132,4.286956,3.877699,1.407756,8.190519,3.574506,1.679742,1.238291,...,1.9,2.1,0.867,1.4,6.1,1.3,0.9,0.8,0.4,9.4
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
4,203518,0.988705,0.112903,1.361302,2.800757,1.065089,4.592593,1.876591,0.839953,0.668980,...,0.4,0.4,0.923,0.2,1.4,0.6,0.5,0.5,0.2,5.3

In [80]:
proj_df['squared_error'] = (proj_df['proj_pts'] - proj_df['pts'])**(2)

In [81]:
mse = proj_df['squared_error'].mean()  # MEAN SQUARED ERROR

In [82]:
rmse = mse ** (1/2)

In [83]:
rmse

np.float64(3.302971088916984)

In [84]:
proj_df['squared_error'] = (proj_df['proj_ast'] - proj_df['ast'])**(2)

In [85]:
mse = proj_df['squared_error'].mean()

In [86]:
rmse = mse ** (1/2)

In [87]:
rmse

np.float64(0.9944342105776937)

In [88]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [89]:
player_proj = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
player_info = pd.read_csv('../nba-stats-csv/player_info_df.csv')

In [90]:
player_proj.sample(5)

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
296,203506,5.207885,0.329681,3.812911,5.885912,2.245162,16.326020,7.125824,4.657472,3.828313,...,2.9,3.9,0.730,0.6,5.0,5.2,2.3,1.7,0.3,18.8
176,2594,1.404648,0.157588,1.983714,3.328960,1.339054,6.045132,2.512895,1.020918,0.880362,...,0.9,1.0,0.822,0.1,2.2,1.2,0.8,0.4,0.2,8.6
65,1627743,1.226060,0.105853,0.798923,0.700412,0.229921,2.619767,1.075341,1.139778,0.816061,...,0.7,0.7,1.000,0.3,0.2,0.8,0.2,0.3,0.0,3.7
213,202357,1.597381,0.391567,2.555801,3.252972,1.287593,7.509610,3.293336,1.230821,0.912873,...,0.9,1.2,0.761,1.6,4.1,1.9,1.1,0.7,0.7,9.6
70,1626164,5.430741,0.326816,4.045846,6.151837,2.164211,19.061582,8.256561,6.225006,5.259298,...,6.1,7.1,0.866,0.6,3.5,6.8,4.1,0.9,0.2,26.6

In [91]:
df_real = player_proj.loc[:, ['pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','tov','blk']]

In [92]:
df_proj = player_proj.loc[:, ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_tov','proj_blk']]

In [93]:
df_real.sample(5)

     pts   min  fgm  fga  fg3m  fg3a  ftm  fta  oreb  dreb  ast  tov  blk
113  8.1  15.1  2.8  8.3   1.0   3.6  1.4  2.3   0.4   0.7  1.9  1.5  0.1
124  7.6  18.7  3.0  6.0   0.8   2.5  0.7  1.0   0.8   2.3  0.7  0.6  0.4
142  6.4  13.0  2.6  4.9   1.0   2.3  0.1  0.1   0.1   1.4  1.0  0.3  0.1
304  7.3  14.0  2.6  5.1   0.3   0.7  1.7  2.5   2.0   3.3  1.0  1.0  0.3
53   6.9  15.8  2.4  5.7   0.4   1.5  1.6  2.0   0.4   1.2  2.6  1.2  0.1

In [94]:
df_proj.sample(5)

,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_tov,proj_blk
63,12.622666,30.372976,4.570834,10.190631,1.274004,3.422696,2.208583,2.738313,1.114641,3.919552,1.823704,1.409425,0.542355
48,5.268153,17.320831,2.139299,4.398583,0.000000,0.000000,0.973289,1.527466,1.555306,2.524487,0.629421,0.698785,0.558924
194,9.567632,22.975139,3.392743,8.197329,1.312969,3.681154,1.468342,1.854454,0.662278,2.865101,1.286718,1.019041,0.289142
249,3.420404,13.334694,1.282410,2.981093,0.365189,1.010516,0.502520,0.655897,0.266404,1.135995,1.559470,0.537060,0.139271
141,19.862006,36.455652,6.681044,14.915439,0.904276,2.685002,5.598126,6.836618,1.224982,4.090095,4.450571,2.121883,0.489096

In [95]:
se = mean_squared_error(df_real, df_proj)

In [96]:
mse = np.mean(se)

In [97]:
rmse = np.sqrt(mse)

In [98]:
confidence = rmse

In [99]:
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.95 percent confidence in projected 2018-19 per game stats

In [100]:
df_real_stats = pd.concat([player_info, df_real], axis=1)

In [101]:
df_real_stats.sample(5)

,player_name,player_id,proj_season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
144,Joe Ingles,204060,2018-19,12.1,31.3,4.4,9.8,2.3,5.9,1.1,1.5,0.4,3.6,5.7,2.4,0.2
207,Mike Conley,201144,2018-19,21.1,33.5,7.0,16.0,2.2,6.1,4.9,5.8,0.6,2.8,6.4,1.9,0.3
233,Pau Gasol,2200,2018-19,3.9,12.0,1.4,3.1,0.2,0.4,0.9,1.3,0.7,3.8,1.7,0.5,0.5
56,Darren Collison,201954,2018-19,11.2,28.2,4.1,8.7,1.0,2.6,2.1,2.5,0.5,2.6,6.0,1.6,0.1
301,Wesley Matthews,202083,2018-19,12.2,30.3,4.0,10.1,2.2,5.8,1.9,2.4,0.5,2.0,2.3,1.3,0.2

In [102]:
df_real_stats.rename(columns =
                    {'proj_season_id' : 'season_id'}, inplace=True)

In [103]:
df_proj_stats = pd.concat([player_info, df_proj], axis=1)

In [104]:
df_proj_stats.rename(columns =
                     {
                         'proj_season_id' : 'season_id',
                         'proj_pts' : 'pts',
                         'proj_min' : 'min',
                         'proj_fgm' : 'fgm',
                         'proj_fga' : 'fga',
                         'proj_fg3m' : 'fg3m',
                         'proj_fg3a' : 'fg3a',
                         'proj_ftm' : 'ftm',
                         'proj_fta' : 'fta',
                         'proj_oreb' : 'oreb',
                         'proj_dreb' : 'dreb',
                         'proj_ast' : 'ast',
                         'proj_stl' : 'stl',
                         'proj_tov' : 'tov',
                         'proj_blk' : 'blk'
                     }, inplace=True
                    )

In [105]:
display(df_real_stats.head(5)) # Shows normalized projected stats for the next season

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,2.1,0.7
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,1.5,1.3
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.9,0.4
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,1.0,0.3
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.2

In [106]:
display(round(df_proj_stats, 1).head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,tov,blk
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,1.6,0.7
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,1.6,1.0
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,1.1,0.4
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,1.0,0.1
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.6,0.1

# Comparing to Competitors

In [107]:
import pandas as pd
import numpy as np

In [108]:
player_proj = pd.read_csv('../nba-stats-csv/player_proj_df.csv')

In [109]:
columns = [
    'player_name',
    'player_id',
    'proj_pts',
    'proj_min',
    'proj_fgm',
    'proj_fga',
    'proj_fg3m',
    'proj_fg3a',
    'proj_ftm',
    'proj_fta',
    'proj_oreb',
    'proj_dreb',
    'proj_ast',
    'proj_stl',
    'proj_tov',
    'proj_blk'                     
]

In [110]:
df_proj_final = player_proj.loc[:, columns]

In [111]:
df_proj_final['proj_reb'] = df_proj_final['proj_oreb'] + df_proj_final['proj_dreb']

In [112]:
df_proj_final['proj_fg%'] = df_proj_final['proj_fgm'] / df_proj_final['proj_fga']
df_proj_final['proj_ft%'] = df_proj_final['proj_ftm'] / df_proj_final['proj_fta']

In [113]:
df_proj_final.tail(5)

,player_name,player_id,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk,proj_reb,proj_fg%,proj_ft%
304,Willy Hernangomez,1626195,5.985580,14.722780,2.275293,4.337004,0.000000,0.010538,1.446116,2.060977,1.464926,2.655802,0.597824,0.377686,0.857811,0.573993,4.120729,0.524623,0.701665
305,Wilson Chandler,201163,11.462810,29.167829,4.295812,9.523489,1.059051,2.947022,1.848857,2.281238,1.176468,3.809336,1.590666,0.800370,1.146916,0.448807,4.985804,0.451075,0.810462
306,Yogi Ferrell,1627812,9.277499,25.591605,3.343853,8.342588,1.556202,4.190836,1.004185,1.387576,0.395357,2.427785,2.065109,0.712795,0.921862,0.291648,2.823142,0.400817,0.723698
307,Zach LaVine,203897,13.019930,28.166167,4.747361,11.186628,1.341064,3.823189,2.147932,2.637023,0.515644,2.460736,2.437654,0.814816,1.421057,0.273753,2.976380,0.424378,0.814529
308,Zaza Pachulia,2585,4.708466,15.200837,1.887957,4.137357,0.000000,0.043625,0.920766,1.228401,1.132377,2.250570,0.792398,0.438271,0.799345,0.252155,3.382947,0.456320,0.749565

In [114]:
final_columns = [
    'player_name',
    'player_id',
    'proj_pts',
    'proj_reb',
    'proj_ast',
    'proj_blk',
    'proj_stl',
    'proj_fg%',
    'proj_ft%',
    'proj_fg3m',
    'proj_min',
    'proj_tov'                 
]

In [115]:
df_proj_final = df_proj_final[final_columns]

In [116]:
df_competitor = pd.read_csv('../nba-stats-csv/ESPN_CBS_FantasyPros_Fantasy_Basketball_Overall_2018_Average_Projections.csv')

In [117]:
df_competitor.sample(5)

,Player,Team,Positions,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,GP,MIN,TO
147,Spencer Dinwiddie,BKN,PG,10.2,3.0,5.0,0.4,0.7,0.403,0.805,1.3,77.0,23.3,1.4
75,Dwight Howard,WAS,"PF,C",14.3,11.9,1.3,1.4,0.8,0.590,0.555,0.0,80.0,30.4,2.3
93,Al Horford,BOS,"PF,C",13.3,7.5,4.5,1.2,0.7,0.496,0.794,1.3,79.0,31.9,1.7
261,Zhaire Smith,PHI,"SF,SG",6.3,1.9,1.3,0.2,0.6,0.431,0.789,0.2,72.0,20.7,1.1
410,Drew Eubanks,SAS,F,0.0,0.1,0.0,0.0,0.0,0.457,0.692,0.0,82.0,0.0,0.0

In [118]:
columns_to_drop = [
'Team',
'Positions',
'GP'
]

In [119]:
df_competitor.drop(columns = columns_to_drop, inplace = True)

In [120]:
df_competitor.sample(5)

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO
169,Michael Kidd-Gilchrist,9.2,5.6,1.2,0.7,0.9,0.482,0.734,0.3,25.2,0.8
174,Pau Gasol,8.9,7.3,2.2,0.7,0.5,0.468,0.788,0.6,22.8,1.2
374,Christian Wood,1.0,0.8,0.1,0.3,0.1,0.696,0.733,0.0,0.0,0.2
285,Tony Parker,5.7,1.0,2.2,0.0,0.3,0.445,0.724,0.3,18.1,0.8
95,Kevin Knox,13.1,5.8,1.7,0.8,0.8,0.462,0.741,0.4,33.4,1.4

In [121]:
lowercase_names = df_competitor['Player'].str.lower()

In [122]:
df_competitor['Player'] = lowercase_names

In [123]:
df_competitor.sample(5)

              Player   PTS   REB  AST  BLK  STL    FG%    FT%  3PM   MIN   TO
71       will barton  14.7   5.0  3.7  0.6  1.0  0.449  0.790  1.8  32.3  1.8
203    mason plumlee   7.9   4.4  2.3  0.7  0.9  0.492  0.685  0.5  19.1  1.4
264  wayne ellington   6.2   1.5  0.6  0.1  0.4  0.409  0.862  1.5  19.8  0.4
125   deandre jordan  11.5  13.9  1.4  1.2  0.6  0.665  0.514  0.0  31.9  1.6
77        trae young  14.0   3.0  6.2  0.2  1.0  0.402  0.880  1.9  29.3  3.3

In [124]:
player_info = pd.read_csv('../nba-stats-csv/player_info_df.csv')

In [125]:
season = player_info['proj_season_id'] == '2018-19'

In [126]:
player_df = player_info[season]

In [127]:
lowercase = player_df['player_name'].str.lower()

In [128]:
player_df['player_name'] = lowercase

In [129]:
player_df.sample(5)

           player_name  player_id proj_season_id
263  spencer dinwiddie     203915        2018-19
189    malcolm brogdon    1627763        2018-19
68   derrick jones jr.    1627884        2018-19
84       e'twaun moore     202734        2018-19
23        bobby portis    1626171        2018-19

In [130]:
competitor_merged = pd.merge(df_competitor,
        player_df[['player_name', 'player_id']],
        how='left',
        left_on='Player',
        right_on='player_name'
        ).drop_duplicates().reset_index(drop=True)

In [131]:
competitor_merged.dropna(how='any', inplace=True)

In [132]:
competitor_merged.sample(5)

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO,player_name,player_id
109,bojan bogdanovic,12.3,4.7,1.6,0.3,1.1,0.484,0.732,1.1,28.0,1.3,bojan bogdanovic,202711.0
80,avery bradley,13.7,4.3,1.8,0.2,1.1,0.447,0.750,1.7,26.8,1.6,avery bradley,202340.0
204,dewayne dedmon,7.9,7.3,1.0,0.7,0.6,0.547,0.728,0.4,23.9,1.3,dewayne dedmon,203473.0
222,john henson,7.5,6.0,1.0,1.3,0.5,0.553,0.616,0.0,22.9,1.0,john henson,203089.0
198,austin rivers,8.0,1.4,2.1,0.1,0.6,0.434,0.667,1.1,22.7,1.0,austin rivers,203085.0

In [133]:
competitor_merged.dtypes

Player          object
PTS            float64
REB            float64
AST            float64
BLK            float64
STL            float64
FG%            float64
FT%            float64
3PM            float64
MIN            float64
TO             float64
player_name     object
player_id      float64
dtype: object

In [134]:
player_ids = competitor_merged['player_id'].astype(int)

In [135]:
competitor_merged['player_id'] = player_ids

In [136]:
competitor_merged

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO,player_name,player_id
0,anthony davis,29.6,11.6,2.3,2.5,1.7,0.530,0.814,0.7,37.6,2.3,anthony davis,203076
1,james harden,28.7,6.5,7.7,0.6,1.7,0.440,0.856,3.3,35.6,4.8,james harden,201935
2,lebron james,27.8,8.5,7.4,0.8,1.4,0.557,0.728,1.7,34.6,4.3,lebron james,2544
3,giannis antetokounmpo,27.7,10.2,5.6,1.6,1.6,0.544,0.763,0.6,37.5,2.9,giannis antetokounmpo,203507
4,russell westbrook,27.0,10.2,9.8,0.3,1.7,0.443,0.788,1.6,34.5,4.9,russell westbrook,201566
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,glenn robinson iii,0.6,0.3,0.1,0.0,0.1,0.400,0.723,0.1,0.0,0.0,glenn robinson iii,203922
390,nene,0.4,0.2,0.0,0.0,0.0,0.642,0.608,0.0,0.0,0.0,nene,2403
405,malik beasley,0.2,0.1,0.0,0.0,0.0,0.302,0.714,0.0,0.0,0.0,malik beasley,1627736
431,salah mejri,0.0,0.0,0.0,0.0,0.0,0.625,0.500,0.0,0.0,0.0,salah mejri,1626257
435,alex poythress,0.0,0.0,0.0,0.0,0.0,0.375,0.000,0.0,0.0,0.0,alex poythress,1627816

In [137]:
del competitor_merged['Player']

In [138]:
competitor_merged

,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO,player_name,player_id
0,29.6,11.6,2.3,2.5,1.7,0.530,0.814,0.7,37.6,2.3,anthony davis,203076
1,28.7,6.5,7.7,0.6,1.7,0.440,0.856,3.3,35.6,4.8,james harden,201935
2,27.8,8.5,7.4,0.8,1.4,0.557,0.728,1.7,34.6,4.3,lebron james,2544
3,27.7,10.2,5.6,1.6,1.6,0.544,0.763,0.6,37.5,2.9,giannis antetokounmpo,203507
4,27.0,10.2,9.8,0.3,1.7,0.443,0.788,1.6,34.5,4.9,russell westbrook,201566
...,...,...,...,...,...,...,...,...,...,...,...,...
381,0.6,0.3,0.1,0.0,0.1,0.400,0.723,0.1,0.0,0.0,glenn robinson iii,203922
390,0.4,0.2,0.0,0.0,0.0,0.642,0.608,0.0,0.0,0.0,nene,2403
405,0.2,0.1,0.0,0.0,0.0,0.302,0.714,0.0,0.0,0.0,malik beasley,1627736
431,0.0,0.0,0.0,0.0,0.0,0.625,0.500,0.0,0.0,0.0,salah mejri,1626257
435,0.0,0.0,0.0,0.0,0.0,0.375,0.000,0.0,0.0,0.0,alex poythress,1627816

In [139]:
ordered_columns = [
    'player_name',
    'player_id',
    'PTS',
    'REB',
    'AST',
    'BLK',
    'STL',
    'FG%',
    'FT%',
    '3PM',
    'MIN',
    'TO'              
]

In [140]:
competitor_merged = competitor_merged[ordered_columns]

In [141]:
competitor_merged

,player_name,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO
0,anthony davis,203076,29.6,11.6,2.3,2.5,1.7,0.530,0.814,0.7,37.6,2.3
1,james harden,201935,28.7,6.5,7.7,0.6,1.7,0.440,0.856,3.3,35.6,4.8
2,lebron james,2544,27.8,8.5,7.4,0.8,1.4,0.557,0.728,1.7,34.6,4.3
3,giannis antetokounmpo,203507,27.7,10.2,5.6,1.6,1.6,0.544,0.763,0.6,37.5,2.9
4,russell westbrook,201566,27.0,10.2,9.8,0.3,1.7,0.443,0.788,1.6,34.5,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...
381,glenn robinson iii,203922,0.6,0.3,0.1,0.0,0.1,0.400,0.723,0.1,0.0,0.0
390,nene,2403,0.4,0.2,0.0,0.0,0.0,0.642,0.608,0.0,0.0,0.0
405,malik beasley,1627736,0.2,0.1,0.0,0.0,0.0,0.302,0.714,0.0,0.0,0.0
431,salah mejri,1626257,0.0,0.0,0.0,0.0,0.0,0.625,0.500,0.0,0.0,0.0
435,alex poythress,1627816,0.0,0.0,0.0,0.0,0.0,0.375,0.000,0.0,0.0,0.0

In [142]:
columns = [
    'player_name',
    'player_id',
    'pts',
    'min',
    'fgm',
    'fga',
    'fg3m',
    'fg3a',
    'ftm',
    'fta',
    'oreb',
    'dreb',
    'ast',
    'stl',
    'tov',
    'blk'                     
]

In [143]:
df_real = player_proj.loc[:, columns]

In [144]:
df_real['fg%'] = df_real['fgm'] / df_real['fga']
df_real['ft%'] = df_real['ftm'] / df_real['fta']
df_real['reb'] = df_real['oreb'] + df_real['dreb']

In [145]:
final_real_columns = [
    'player_name',
    'player_id',
    'pts',
    'reb',
    'ast',
    'blk',
    'stl',
    'fg%',
    'ft%',
    'fg3m',
    'min',
    'tov'                 
]

In [146]:
df_real_final = df_real[final_real_columns]

In [147]:
df_real_final.head(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5

In [148]:
competitor_final = pd.merge(competitor_merged, df_real_final, how='left', on='player_id')

In [149]:
competitor_final.sample(5)

,player_name_x,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
40,d'angelo russell,1626156,16.7,4.2,5.2,0.3,1.0,0.411,0.760,2.2,...,21.1,3.9,7.0,0.2,1.2,0.433155,0.800000,2.9,30.2,3.1
3,giannis antetokounmpo,203507,27.7,10.2,5.6,1.6,1.6,0.544,0.763,0.6,...,27.7,12.5,5.9,1.5,1.3,0.578035,0.726316,0.7,32.8,3.7
118,malcolm brogdon,1627763,10.6,3.0,3.7,0.2,1.1,0.470,0.869,1.1,...,15.6,4.5,3.2,0.2,0.7,0.504274,0.916667,1.6,28.6,1.4
220,yogi ferrell,1627812,5.5,1.5,1.6,0.1,0.5,0.427,0.810,0.8,...,5.9,1.6,1.9,0.1,0.5,0.440000,0.888889,0.8,15.0,0.6
93,kentavious caldwell-pope,203484,12.2,3.7,2.0,0.2,1.2,0.433,0.808,1.9,...,11.4,2.9,1.3,0.2,0.9,0.434783,0.894737,1.8,24.8,0.8

In [150]:
competitor_proj = competitor_final.dropna(how='any')

In [151]:
ordered_cols = [
    'pts',
    'reb',
    'ast',
    'blk',
    'stl',
    'fg%',
    'ft%',
    'fg3m',
    'min',
    'tov'                 
]
df_real = competitor_proj.loc[:, ordered_cols]

In [152]:
ordered_columns_uppercase = [
    'PTS',
    'REB',
    'AST',
    'BLK',
    'STL',
    'FG%',
    'FT%',
    '3PM',
    'MIN',
    'TO'              
]
df_proj = competitor_proj.loc[:, ordered_columns_uppercase]

In [157]:
# Calculate mean square error
line_mse = mean_squared_error(df_real, df_proj)
line_rmse = np.mean(line_mse)
confidente = np.sqrt(line_rmse)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.95 percent confidence in projected 2018-19 per game stats

In [158]:
df_proj_final.sample(5)

,player_name,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,proj_min,proj_tov
97,Gary Harris,203914,15.930444,4.201202,2.670911,0.303032,1.206524,0.425800,0.787136,1.708421,32.681252,1.671079
46,D'Angelo Russell,1626156,12.648145,2.909742,3.625730,0.198459,0.868947,0.418359,0.840865,1.448900,27.634187,2.010073
94,Frank Kaminsky,1626163,10.464914,2.684513,1.196434,0.113525,0.568519,0.428646,0.834095,1.274106,22.573224,1.077827
261,Skal Labissiere,1627746,8.247914,4.786652,0.838185,0.693191,0.415718,0.445311,0.717369,0.363262,19.604197,1.003213
17,Austin Rivers,203085,13.690865,2.703933,3.350931,0.247216,0.916056,0.423862,0.806412,1.838511,31.231888,1.554067

In [159]:
df_real_final.sample(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
87,Emmanuel Mudiay,1626144,14.8,3.4,3.9,0.3,0.7,0.448000,0.750000,1.2,27.2,2.4
210,Miles Plumlee,203101,4.4,2.2,0.9,0.2,0.3,0.666667,0.529412,0.0,9.6,0.6
3,Alec Burks,202692,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
46,D'Angelo Russell,1626156,21.1,3.9,7.0,0.2,1.2,0.433155,0.800000,2.9,30.2,3.1
94,Frank Kaminsky,1626163,8.6,3.4,1.3,0.3,0.3,0.460317,0.739130,1.1,16.1,0.9

In [163]:
df_real.fillna(0, inplace=True)
df_proj.fillna(0, inplace=True)

model_final = pd.merge(df_proj_final, df_real_final, how='left', on='player_id')

In [164]:
model_final

,player_name_x,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.063873,6.748596,1.994430,0.710601,0.909579,0.440934,0.776026,1.402502,...,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,12.340232,5.801251,3.247733,1.025916,0.652499,0.469240,0.763213,1.127251,...,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.784116,5.388717,1.754433,0.446132,0.946406,0.436420,0.737191,1.407756,...,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.349126,2.417396,1.525246,0.143212,0.541122,0.413732,0.769635,0.692337,...,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.502404,1.731801,0.988705,0.112903,0.481071,0.408612,0.796450,1.065089,...,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Willy Hernangomez,1626195,5.985580,4.120729,0.597824,0.573993,0.377686,0.524623,0.701665,0.000000,...,7.3,5.3,1.0,0.3,0.3,0.509804,0.680000,0.3,14.0,1.0
305,Wilson Chandler,201163,11.462810,4.985804,1.590666,0.448807,0.800370,0.451075,0.810462,1.059051,...,6.0,4.2,1.6,0.4,0.5,0.407407,0.800000,1.2,23.1,0.9
306,Yogi Ferrell,1627812,9.277499,2.823142,2.065109,0.291648,0.712795,0.400817,0.723698,1.556202,...,5.9,1.6,1.9,0.1,0.5,0.440000,0.888889,0.8,15.0,0.6
307,Zach LaVine,203897,13.019930,2.976380,2.437654,0.273753,0.814816,0.424378,0.814529,1.341064,...,23.7,4.6,4.5,0.4,1.0,0.466667,0.833333,1.9,34.5,3.4
308,Zaza Pachulia,2585,4.708466,3.382947,0.792398,0.252155,0.438271,0.456320,0.749565,0.000000,...,3.9,3.9,1.3,0.3,0.5,0.464286,0.777778,0.0,12.9,0.8

# Modifying Variables

In [165]:
def player_comparison_tool(df, current_player_season, current_player_id):
    if (((df['season_id'] == current_player_season) & (df['player_id'] == current_player_id)).any() == False):
        print('Can\'t find player with id {0} and season {1}'.format(current_player_id, current_player_season))
        return
    # might need to return None if so
    for row in df.itertuples():
        if current_player_season == row.season_id and current_player_id == row.player_id:
            current_player_id = row.player_id
            break

    current_player_vector = np.array([
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'pts_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'min_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fgm_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fga_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fg3m_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fg3a_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'ftm_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fta_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'oreb_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'dreb_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'ast_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'stl_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'tov_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'blk_norm']).item()
    ])

    print('Projecting player_id {0} for season {1}'.format(current_player_id, season_list[(season_list.index(row.season_id) + 1)]))
    
    # create a list to store the data
    player_distance = []

    # loop over every row in the dataframe to calculate percent error
    weighted_numbers = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
    for row in df.itertuples():
        compared_player_vector = np.array([
        row.pts_norm,
        row.min_norm,
        row.fgm_norm,
        row.fga_norm,
        row.fg3m_norm,
        row.fg3a_norm,
        row.ftm_norm,
        row.fta_norm,
        row.oreb_norm,
        row.dreb_norm,
        row.ast_norm,
        row.stl_norm,
        row.tov_norm,
        row.blk_norm
        ])
        
        vfunc = np.vectorize(calc_distance)
        distance_vect = vfunc(current_player_vector, compared_player_vector)
        weighted_distance = distance_vect * weighted_numbers
        number = np.sum(weighted_distance)
        player_distance.append(number)
        
    # create a new column with error 
    df['distance'] = player_distance

    # sort dataframe by smallest distance
    ranked_df = df.sort_values('distance')
    
    stats = ['pts',
             'min',
             'fgm',
             'fga',
             'fg3m',
             'fg3a',
             'ftm',
             'fta',
             'oreb',
             'dreb',
             'ast',
             'stl',
             'tov',
             'blk'
             ]
    
    # create empty dictionary to put in projected stats
    projected_stats = {}

    for col in stats:
        sum_stat = 0
        sum_weight = 0
        for index, row in ranked_df.iloc[1:11].iterrows():
            # skip over the row if it was 2017-18 season because we can't take the next
            if row.season_id == '2017-18':
                continue
            # get the players next season
            weight = (1 / row.distance)
            next_season = season_list[(season_list.index(row.season_id) + 1)]
            # find the player row with the id and the next season
            player_next_season = find_player(ranked_df, row.player_id, next_season)
            # if player_next_season doesn't exist then skip
            if player_next_season == None:
                continue
            sum_stat += getattr(player_next_season, col) * weight
            sum_weight += weight
        projected_stats['player_id'] = current_player_id
        projected_stats['proj_season_id'] = season_list[(season_list.index(current_player_season) + 1)]
        projected_stats['proj_' + col] = (sum_stat / sum_weight)
    return projected_stats

In [166]:
# read in per game data from csv folder
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', header = 0)

In [167]:
df

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0