# Pandas
Excel ♥ SQL

[Excel ♥ SQL]: # (Invisible comment)

### Dataframes & Series

Series #1

| player_id | pts_per_games |
|-----------|---------------|
| 201939    |       27.3    |
| 201940    |       26.0    |
| 201941    |       16.3    |

Series #2

| player_id | reb_per_games |
|-----------|---------------|
| 201939    |       6.7     |
| 201940    |       5.4     |
| 201941    |       4.8     |

Dataframes (DF)

| player_id | pts_per_games | reb_per_game |
|-----------|---------------|--------------|
| 201939    |       27.3    |    6.7       |  
| 201940    |       26.0    |    5.4       |
| 201941    |       16.3    |    4.8       |

### Dataframes store in memory a collection of series

Dataframes can be created using various inputs like:

* Lists
* Dictionaries
* Series
* Numpy arrays
* Another dataframe

Dataframes can be created reading in data like:

---
+ CSV
+ Excel
+ SQL
---

# Creating a Dataframe

In [3]:
import pandas as pd

In [4]:
# This line create an empty dataframe
df = pd.DataFrame()

In [5]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
celtics_dict = {
    'player_name': ['Jaylen Brown', 'Jayson Tatum', 'Derrick White', 'Jrue Holiday', 'Neemias Queta'],
    'ppg': [ 26.8, 30.3, 12.4, 14.1, 8.3 ],
    'rpg': [ 5.3, 8.2, 4.5, 4.7, 7.5 ],
    'apg': [ 4.4, 5.1, 6.3, 5.9, 0.6 ]
}

In [7]:
# df(celtics_dict) --> This won't work because the df was already created and it can't be overwritten

In [8]:
df_celtics = pd.DataFrame(celtics_dict)

In [9]:
print(df_celtics)

     player_name   ppg  rpg  apg
0   Jaylen Brown  26.8  5.3  4.4
1   Jayson Tatum  30.3  8.2  5.1
2  Derrick White  12.4  4.5  6.3
3   Jrue Holiday  14.1  4.7  5.9
4  Neemias Queta   8.3  7.5  0.6

In [10]:
df_filtered = pd.DataFrame(df_celtics, index=[2,4])

In [11]:
print(df_filtered)

     player_name   ppg  rpg  apg
2  Derrick White  12.4  4.5  6.3
4  Neemias Queta   8.3  7.5  0.6

In [12]:
label = ['sf', 'pf', 'pg', 'sg', 'c']

In [13]:
df_label = pd.DataFrame(celtics_dict, index= label)

In [14]:
print(df_label)

      player_name   ppg  rpg  apg
sf   Jaylen Brown  26.8  5.3  4.4
pf   Jayson Tatum  30.3  8.2  5.1
pg  Derrick White  12.4  4.5  6.3
sg   Jrue Holiday  14.1  4.7  5.9
c   Neemias Queta   8.3  7.5  0.6

In [15]:
# Let's create another DataFrame
stats = [['Jaylen Brown',4,6], ['Jayson Tatum',2,5],['Jrue Holiday',4,4]]

In [16]:
stats_df = pd.DataFrame(stats, columns= ['player', 'oreb', 'dreb'])

In [17]:
print(stats_df)

         player  oreb  dreb
0  Jaylen Brown     4     6
1  Jayson Tatum     2     5
2  Jrue Holiday     4     4

In [18]:
rebs = [6,9,11,7,3]

In [19]:
reb_series = pd.DataFrame(rebs, columns=['jaylen brown_reb'])

In [20]:
print(reb_series)

   jaylen brown_reb
0                 6
1                 9
2                11
3                 7
4                 3

# Reading CSV Files in Dataframes

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('../nba-stats-csv/player_info.csv')

In [23]:
print(df)

       player_id     player_name season_id
0            920      A.C. Green   1996-97
1            243     Aaron McKie   1996-97
2           1425  Aaron Williams   1996-97
3            768       Acie Earl   1996-97
4            228      Adam Keefe   1996-97
...          ...             ...       ...
29223    1628380    Zach Collins   2017-18
29224     203897     Zach LaVine   2017-18
29225       2216   Zach Randolph   2017-18
29226       2585   Zaza Pachulia   2017-18
29227    1627753         Zhou Qi   2017-18

[29228 rows x 3 columns]

In [24]:
df.head(10)

   player_id            player_name season_id
0        920             A.C. Green   1996-97
1        243            Aaron McKie   1996-97
2       1425         Aaron Williams   1996-97
3        768              Acie Earl   1996-97
4        228             Adam Keefe   1996-97
5        154        Adrian Caldwell   1996-97
6        673         Alan Henderson   1996-97
7       1059  Aleksandar Djordjevic   1996-97
8        275          Allan Houston   1996-97
9        947          Allen Iverson   1996-97

In [25]:


df_noheader = pd.read_csv('../nba-stats-csv/player_info_no_header.csv', header=None)

In [26]:
print(df_noheader)

             0               1        2
0          920      A.C. Green  1996-97
1          243     Aaron McKie  1996-97
2         1425  Aaron Williams  1996-97
3          768       Acie Earl  1996-97
4          228      Adam Keefe  1996-97
...        ...             ...      ...
29223  1628380    Zach Collins  2017-18
29224   203897     Zach LaVine  2017-18
29225     2216   Zach Randolph  2017-18
29226     2585   Zaza Pachulia  2017-18
29227  1627753         Zhou Qi  2017-18

[29228 rows x 3 columns]

In [27]:
df_noheader.head(5)

      0               1        2
0   920      A.C. Green  1996-97
1   243     Aaron McKie  1996-97
2  1425  Aaron Williams  1996-97
3   768       Acie Earl  1996-97
4   228      Adam Keefe  1996-97

In [28]:
df_index = pd.read_csv('../nba-stats-csv/player_info.csv', index_col='player_id')

In [29]:
print(df_index)

              player_name season_id
player_id
920            A.C. Green   1996-97
243           Aaron McKie   1996-97
1425       Aaron Williams   1996-97
768             Acie Earl   1996-97
228            Adam Keefe   1996-97
...                   ...       ...
1628380      Zach Collins   2017-18
203897        Zach LaVine   2017-18
2216        Zach Randolph   2017-18
2585        Zaza Pachulia   2017-18
1627753           Zhou Qi   2017-18

[29228 rows x 2 columns]

In [30]:
df_usecols = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', usecols=['player_id', 'season_id'])

In [31]:
df_usecols.head(5)

   player_id season_id
0        471   1996-97
1        920   1996-97
2        243   1996-97
3       1425   1996-97
4        768   1996-97

# Attibutes & Methods

In [32]:
# .method()
# .attribute

In [40]:
df_players_data = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [41]:
df_players_data.shape # (rows, columns)

(10633, 21)

In [42]:
df_players_data.dtypes

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

### Head, Tail & Sample Methods

In [45]:
df_5_row = df_players_data.head()

In [47]:
print(df_5_row) # We've created a new dataframe using data from the original

   player_id season_id    gp   age   min  fgm  fga  fg_pct  fg3m  fg3a  ...  \
0        471   1996-97  41.0   NaN  13.3  1.1  3.3   0.331   0.2   0.7  ...
1        920   1996-97  83.0  33.0  30.8  2.8  5.8   0.483   0.0   0.2  ...
2        243   1996-97  83.0  24.0  20.4  1.8  4.4   0.411   0.5   1.2  ...
3       1425   1996-97  33.0  25.0  17.8  2.6  4.5   0.574   0.0   0.0  ...
4        768   1996-97  47.0  27.0  11.1  1.4  3.8   0.374   0.0   0.1  ...

   ftm  fta  ft_pct  oreb  dreb  ast  tov  stl  blk  pts
0  1.0  1.2   0.875   0.7   1.8  1.4  0.8  0.2  0.3  3.4
1  1.5  2.4   0.650   2.7   5.2  0.8  0.9  0.8  0.2  7.2
2  1.1  1.3   0.836   0.5   2.2  1.9  1.1  0.9  0.3  5.2
3  1.0  1.5   0.673   1.9   2.5  0.5  1.0  0.5  0.9  6.2
4  1.1  1.8   0.643   0.7   1.3  0.4  0.7  0.3  0.6  4.0

[5 rows x 21 columns]

In [57]:
df_players_data.tail()

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [58]:
df_players_data.head(10)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0
5,228,1996-97,62.0,27.0,15.4,1.3,2.6,0.513,0.0,0.0,...,1.1,1.7,0.689,1.2,2.3,0.5,0.7,0.5,0.2,3.8
6,154,1996-97,45.0,30.0,13.1,0.9,2.0,0.435,0.0,0.0,...,0.5,1.1,0.420,1.3,2.4,0.3,0.6,0.4,0.2,2.2
7,673,1996-97,30.0,24.0,17.2,2.6,5.4,0.475,0.0,0.0,...,1.5,2.5,0.600,1.6,2.3,0.8,1.0,0.7,0.2,6.6
8,1059,1996-97,8.0,29.0,7.9,1.0,2.0,0.500,0.6,0.9,...,0.5,0.6,0.800,0.1,0.5,0.6,0.6,0.0,0.0,3.1
9,275,1996-97,81.0,26.0,34.3,5.4,12.7,0.423,1.8,4.7,...,2.2,2.7,0.803,0.5,2.4,2.2,2.1,0.5,0.2,14.8

In [59]:
df_players_data.tail(7)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10626,1629139,2018-19,15.0,24.0,11.6,1.0,3.4,0.294,0.1,1.1,...,0.5,0.7,0.700,0.3,1.8,0.5,0.4,0.3,0.1,2.6
10627,1628380,2018-19,77.0,21.0,17.6,2.5,5.2,0.473,0.5,1.6,...,1.2,1.6,0.746,1.4,2.8,0.9,1.0,0.3,0.9,6.6
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [60]:
df_players_data.sample(12) # pick random rows for sample purposes.

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
3455,2581,2003-04,75.0,24.0,18.5,2.1,5.4,0.386,1.0,2.7,...,0.7,0.9,0.821,0.2,1.3,2.8,1.7,0.8,0.1,5.9
10030,203500,2017-18,76.0,24.0,32.7,5.9,9.4,0.629,0.0,0.0,...,2.1,3.8,0.559,5.1,4.0,1.2,1.7,1.2,1.0,13.9
2101,296,2000-01,82.0,31.0,28.0,3.5,7.9,0.444,1.4,3.7,...,1.2,1.5,0.779,1.0,3.0,3.2,1.7,0.9,0.4,9.6
8371,203200,2014-15,59.0,26.0,11.1,1.5,4.0,0.387,0.6,1.8,...,0.6,0.8,0.822,0.2,1.0,0.8,0.5,0.7,0.2,4.3
5512,201592,2008-09,6.0,24.0,1.3,0.3,0.5,0.667,0.0,0.0,...,0.0,0.0,0.000,0.3,0.2,0.0,0.2,0.2,0.0,0.7
5063,2137,2007-08,73.0,30.0,18.0,2.2,5.1,0.424,0.8,2.3,...,0.6,0.8,0.759,0.5,2.6,0.9,0.8,0.8,0.2,5.8
10178,203469,2018-19,49.0,26.0,25.4,3.9,7.0,0.551,0.1,0.4,...,2.3,2.9,0.787,2.2,4.6,2.1,1.3,0.8,0.8,10.1
139,190,1996-97,46.0,29.0,13.5,1.0,2.0,0.511,0.0,0.1,...,0.4,0.8,0.541,1.2,1.5,0.4,0.7,0.3,0.8,2.6
3718,976,2004-05,76.0,30.0,34.9,5.0,12.0,0.412,1.2,3.5,...,1.7,2.1,0.813,0.4,1.6,5.1,1.5,0.7,0.0,12.8
3018,959,2002-03,82.0,29.0,33.1,6.3,13.6,0.465,1.4,3.3,...,3.8,4.2,0.909,0.8,2.1,7.3,2.3,1.0,0.1,17.8
3469,339,2003-04,55.0,34.0,14.9,1.3,3.7,0.345,0.0,0.1,...,0.4,0.5,0.714,1.2,2.2,1.1,0.7,0.6,0.2,2.9
3565,699,2004-05,81.0,33.0,21.4,2.4,5.7,0.423,1.2,3.5,...,1.4,1.7,0.837,0.4,2.0,2.2,0.8,0.5,0.2,7.4

In [61]:
df_players_data.info() # We receive metadata from our dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633 entries, 0 to 10632
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  10633 non-null  int64
 1   season_id  10633 non-null  object
 2   gp         10633 non-null  float64
 3   age        10631 non-null  float64
 4   min        10633 non-null  float64
 5   fgm        10633 non-null  float64
 6   fga        10633 non-null  float64
 7   fg_pct     10633 non-null  float64
 8   fg3m       10633 non-null  float64
 9   fg3a       10633 non-null  float64
 10  fg3_pct    10633 non-null  float64
 11  ftm        10633 non-null  float64
 12  fta        10633 non-null  float64
 13  ft_pct     10633 non-null  float64
 14  oreb       10633 non-null  float64
 15  dreb       10633 non-null  float64
 16  ast        10633 non-null  float64
 17  tov        10633 non-null  float64
 18  stl        10633 non-null  float64
 19  blk        10633 non-null  float64
 20  pts        10633 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 1.7+ MB

In [62]:
df_players_data.describe()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
count,1.063300e+04,10633.000000,10631.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000
mean,1.684222e+05,52.633782,27.235255,20.398853,3.031468,6.798354,0.433469,0.545359,1.562682,0.235817,1.495429,2.003480,0.698231,0.970159,2.589119,1.796398,1.186043,0.646929,0.412602,8.101129
std,3.882780e+05,25.115265,4.344703,10.099563,2.159450,4.594357,0.097001,0.661287,1.743706,0.179157,1.397361,1.769024,0.195102,0.831041,1.789594,1.789208,0.791090,0.449050,0.481362,5.903179
min,2.000000e+00,1.000000,18.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.495000e+03,33.000000,24.000000,12.100000,1.300000,3.200000,0.398000,0.000000,0.100000,0.000000,0.500000,0.800000,0.643000,0.400000,1.300000,0.600000,0.600000,0.300000,0.100000,3.500000
50%,2.501000e+03,59.000000,27.000000,19.800000,2.500000,5.700000,0.437000,0.300000,1.000000,0.298000,1.100000,1.500000,0.745000,0.700000,2.200000,1.200000,1.000000,0.600000,0.300000,6.600000
75%,2.018800e+05,75.000000,30.000000,28.700000,4.300000,9.500000,0.479000,0.900000,2.600000,0.364000,2.000000,2.700000,0.814000,1.400000,3.400000,2.400000,1.600000,0.900000,0.500000,11.500000
max,1.629541e+06,85.000000,44.000000,44.400000,12.200000,27.800000,1.000000,5.100000,13.200000,1.000000,9.700000,13.100000,1.000000,6.800000,11.500000,11.700000,5.700000,2.900000,3.900000,36.100000

In [64]:
df_players_data.sum() # sums all the columns

player_id                                           1790833752
season_id    1996-971996-971996-971996-971996-971996-971996...
gp                                                    559655.0
age                                                   289538.0
min                                                   216901.0
fgm                                                    32233.6
fga                                                    72286.9
fg_pct                                                4609.073
fg3m                                                    5798.8
fg3a                                                   16616.0
fg3_pct                                               2507.447
ftm                                                    15900.9
fta                                                    21303.0
ft_pct                                                7424.287
oreb                                                   10315.7
dreb                                                   27530.1
ast                                                    19101.1
tov                                                    12611.2
stl                                                     6878.8
blk                                                     4387.2
pts                                                    86139.3
dtype: object

In [66]:
print(df_players_data.dtypes)

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

In [67]:
df_players_data.mean(numeric_only=True) # return averages for all columns, excluding non-numeric columns

player_id    168422.246967
gp               52.633782
age              27.235255
min              20.398853
fgm               3.031468
fga               6.798354
fg_pct            0.433469
fg3m              0.545359
fg3a              1.562682
fg3_pct           0.235817
ftm               1.495429
fta               2.003480
ft_pct            0.698231
oreb              0.970159
dreb              2.589119
ast               1.796398
tov               1.186043
stl               0.646929
blk               0.412602
pts               8.101129
dtype: float64

In [75]:
df_players_data.corr(numeric_only=True) # It returns a DF in which each cell (i,j) contains the correlation coeficient between column i and column j

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
player_id,1.000000,-0.117966,-0.327878,-0.138399,-0.088626,-0.091591,-0.013139,0.031839,0.047200,0.053466,-0.117921,-0.121414,-0.070711,-0.104069,-0.076786,-0.073226,-0.128919,-0.094299,-0.058878,-0.089121
gp,-0.117966,1.000000,0.031932,0.661571,0.558798,0.537544,0.323238,0.338970,0.326380,0.252203,0.436210,0.432054,0.401575,0.350474,0.499179,0.391819,0.473280,0.482834,0.293747,0.550499
age,-0.327878,0.031932,1.000000,0.068160,-0.010243,-0.005897,-0.011013,0.060671,0.048133,0.017836,-0.026634,-0.045631,0.080744,-0.034389,0.048336,0.079816,-0.013969,0.023266,-0.036354,-0.006939
min,-0.138399,0.661571,0.068160,1.000000,0.898696,0.902499,0.265402,0.512537,0.521027,0.286004,0.763601,0.759884,0.391170,0.468688,0.741098,0.672098,0.821540,0.766862,0.381113,0.896016
fgm,-0.088626,0.558798,-0.010243,0.898696,1.000000,0.981887,0.306843,0.494028,0.500119,0.269023,0.856325,0.848208,0.355666,0.440062,0.712868,0.627075,0.835310,0.681252,0.370746,0.989830
fga,-0.091591,0.537544,-0.005897,0.902499,0.981887,1.000000,0.188154,0.569256,0.588161,0.317116,0.846021,0.825272,0.378002,0.353804,0.653903,0.665869,0.844743,0.707331,0.291224,0.982662
fg_pct,-0.013139,0.323238,-0.011013,0.265402,0.306843,0.188154,1.000000,-0.050848,-0.097441,-0.027911,0.222654,0.258393,0.158601,0.401689,0.362039,0.052194,0.188453,0.131418,0.346540,0.271633
fg3m,0.031839,0.338970,0.060671,0.512537,0.494028,0.569256,-0.050848,1.000000,0.984159,0.589520,0.341470,0.268837,0.352018,-0.234495,0.132096,0.480875,0.386329,0.456960,-0.156865,0.554222
fg3a,0.047200,0.326380,0.048133,0.521027,0.500119,0.588161,-0.097441,0.984159,1.000000,0.567381,0.356412,0.284632,0.352993,-0.244986,0.131054,0.507521,0.410626,0.482190,-0.167452,0.560556
fg3_pct,0.053466,0.252203,0.017836,0.286004,0.269023,0.317116,-0.027911,0.589520,0.567381,1.000000,0.160462,0.099531,0.329966,-0.274225,-0.007294,0.334241,0.210239,0.295806,-0.212880,0.300943
ftm,-0.117921,0.436210,-0.026634,0.763601,0.856325,0.846021,0.222654,0.341470,0.356412,0.160462,1.000000,0.980969,0.356486,0.406706,0.626931,0.569923,0.804884,0.599211,0.335838,0.901634
fta,-0.121414,0.432054,-0.045631,0.759884,0.848208,0.825272,0.258393,0.268837,0.284632,0.099531,0.980969,1.000000,0.277477,0.491190,0.676289,0.532583,0.804858,0.587889,0.411419,0.883174
ft_pct,-0.070711,0.401575,0.080744,0.391170,0.355666,0.378002,0.158601,0.352018,0.352993,0.329966,0.356486,0.277477,1.000000,0.001588,0.181000,0.315181,0.304059,0.299414,-0.009240,0.384167
oreb,-0.104069,0.350474,-0.034389,0.468688,0.440062,0.353804,0.401689,-0.234495,-0.244986,-0.274225,0.406706,0.491190,0.001588,1.000000,0.779032,-0.011059,0.349736,0.222488,0.683148,0.392206
dreb,-0.076786,0.499179,0.048336,0.741098,0.712868,0.653903,0.362039,0.132096,0.131054,-0.007294,0.626931,0.676289,0.181000,0.779032,1.000000,0.306302,0.609042,0.472102,0.663878,0.685015
ast,-0.073226,0.391819,0.079816,0.672098,0.627075,0.665869,0.052194,0.480875,0.507521,0.334241,0.569923,0.532583,0.315181,-0.011059,0.306302,1.000000,0.778715,0.709135,-0.020056,0.647640
tov,-0.128919,0.473280,-0.013969,0.821540,0.835310,0.844743,0.188453,0.386329,0.410626,0.210239,0.804884,0.804858,0.304059,0.349736,0.609042,0.778715,1.000000,0.710621,0.291595,0.845105
stl,-0.094299,0.482834,0.023266,0.766862,0.681252,0.707331,0.131418,0.456960,0.482190,0.295806,0.599211,0.587889,0.299414,0.222488,0.472102,0.709135,0.710621,1.000000,0.164976,0.691502
blk,-0.058878,0.293747,-0.036354,0.381113,0.370746,0.291224,0.346540,-0.156865,-0.167452,-0.212880,0.335838,0.411419,-0.009240,0.683148,0.663878,-0.020056,0.291595,0.164976,1.000000,0.333186
pts,-0.089121,0.550499,-0.006939,0.896016,0.989830,0.982662,0.271633,0.554222,0.560556,0.300943,0.901634,0.883174,0.384167,0.392206,0.685015,0.647640,0.845105,0.691502,0.333186,1.000000

In [79]:
# df.corr() allow us another correlation methods like KENDALL (ordinary) , SPEARMAN (range)
df_players_data.corr(method='kendall', numeric_only=True)

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
player_id,1.000000,-0.049629,-0.367445,-0.091298,-0.037343,-0.043592,0.018327,0.084187,0.088520,0.048623,-0.078411,-0.078734,-0.020916,-0.085018,-0.040499,-0.058631,-0.094775,-0.072241,-0.021445,-0.037121
gp,-0.049629,1.000000,0.025086,0.483078,0.457123,0.432320,0.222985,0.233410,0.213247,0.192389,0.398778,0.385246,0.186352,0.275390,0.413673,0.354340,0.383604,0.395249,0.269561,0.454796
age,-0.367445,0.025086,1.000000,0.065926,0.018737,0.021939,-0.004999,0.038587,0.029461,0.037397,-0.002739,-0.018958,0.087030,-0.017574,0.049607,0.081839,0.016366,0.040269,-0.022152,0.021420
min,-0.091298,0.483078,0.065926,1.000000,0.781914,0.779366,0.201871,0.351276,0.346420,0.220949,0.646700,0.628992,0.242477,0.348780,0.618430,0.581987,0.677397,0.631727,0.320444,0.784151
fgm,-0.037343,0.457123,0.018737,0.781914,1.000000,0.894457,0.273434,0.356273,0.348955,0.233893,0.689373,0.663987,0.263192,0.343502,0.590564,0.540624,0.674120,0.565072,0.316351,0.936079
fga,-0.043592,0.432320,0.021939,0.779366,0.894457,1.000000,0.157274,0.413936,0.416572,0.264360,0.667004,0.631318,0.290184,0.284559,0.542927,0.575909,0.676747,0.580583,0.261648,0.896753
fg_pct,0.018327,0.222985,-0.004999,0.201871,0.273434,0.157274,1.000000,-0.150148,-0.185242,-0.052174,0.233467,0.262080,-0.051373,0.390849,0.333369,0.021933,0.162015,0.099594,0.356955,0.240671
fg3m,0.084187,0.233410,0.038587,0.351276,0.356273,0.413936,-0.150148,1.000000,0.909042,0.650727,0.224482,0.167717,0.354643,-0.181761,0.119112,0.426025,0.267616,0.355069,-0.109751,0.393796
fg3a,0.088520,0.213247,0.029461,0.346420,0.348955,0.416572,-0.185242,0.909042,1.000000,0.581729,0.225048,0.169060,0.343972,-0.181135,0.114461,0.434557,0.270954,0.362794,-0.116293,0.384332
fg3_pct,0.048623,0.192389,0.037397,0.220949,0.233893,0.264360,-0.052174,0.650727,0.581729,1.000000,0.133207,0.082143,0.307455,-0.181975,0.039936,0.307474,0.160469,0.236315,-0.127662,0.260348
ftm,-0.078411,0.398778,-0.002739,0.646700,0.689373,0.667004,0.233467,0.224482,0.225048,0.133207,1.000000,0.907484,0.300667,0.357908,0.527016,0.463888,0.642722,0.498638,0.300474,0.728372
fta,-0.078734,0.385246,-0.018958,0.628992,0.663987,0.631318,0.262080,0.167717,0.169060,0.082143,0.907484,1.000000,0.188668,0.408655,0.549750,0.423942,0.633261,0.482833,0.341905,0.691058
ft_pct,-0.020916,0.186352,0.087030,0.242477,0.263192,0.290184,-0.051373,0.354643,0.343972,0.307455,0.300667,0.188668,1.000000,-0.102446,0.080789,0.302987,0.212403,0.211875,-0.086091,0.296163
oreb,-0.085018,0.275390,-0.017574,0.348780,0.343502,0.284559,0.390849,-0.181761,-0.181135,-0.181975,0.357908,0.408655,-0.102446,1.000000,0.579993,0.054243,0.288162,0.215217,0.570028,0.316389
dreb,-0.040499,0.413673,0.049607,0.618430,0.590564,0.542927,0.333369,0.119112,0.114461,0.039936,0.527016,0.549750,0.080789,0.579993,1.000000,0.315160,0.499311,0.425517,0.534314,0.571481
ast,-0.058631,0.354340,0.081839,0.581987,0.540624,0.575909,0.021933,0.426025,0.434557,0.307474,0.463888,0.423942,0.302987,0.054243,0.315160,1.000000,0.616589,0.600896,0.047381,0.553857
tov,-0.094775,0.383604,0.016366,0.677397,0.674120,0.676747,0.162015,0.267616,0.270954,0.160469,0.642722,0.633261,0.212403,0.288162,0.499311,0.616589,1.000000,0.571717,0.250670,0.676962
stl,-0.072241,0.395249,0.040269,0.631727,0.565072,0.580583,0.099594,0.355069,0.362794,0.236315,0.498638,0.482833,0.211875,0.215217,0.425517,0.600896,0.571717,1.000000,0.198057,0.571467
blk,-0.021445,0.269561,-0.022152,0.320444,0.316351,0.261648,0.356955,-0.109751,-0.116293,-0.127662,0.300474,0.341905,-0.086091,0.570028,0.534314,0.047381,0.250670,0.198057,1.000000,0.292967
pts,-0.037121,0.454796,0.021420,0.784151,0.936079,0.896753,0.240671,0.393796,0.384332,0.260348,0.728372,0.691058,0.296163,0.316389,0.571481,0.553857,0.676962,0.571467,0.292967,1.000000

In [80]:
df_players_data.corr(method='spearman', numeric_only=True)

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
player_id,1.000000,-0.073136,-0.518455,-0.135667,-0.054827,-0.064527,0.026698,0.119720,0.129630,0.070805,-0.115019,-0.115775,-0.031432,-0.124129,-0.059914,-0.086782,-0.137975,-0.104539,-0.029974,-0.054850
gp,-0.073136,1.000000,0.037448,0.665861,0.632432,0.606140,0.312643,0.317638,0.300426,0.268493,0.555282,0.540295,0.263519,0.387633,0.578140,0.500269,0.533843,0.538810,0.370234,0.632718
age,-0.518455,0.037448,1.000000,0.098127,0.028613,0.033211,-0.006317,0.052553,0.041192,0.051766,-0.003840,-0.026925,0.125349,-0.024619,0.072287,0.117791,0.024266,0.057690,-0.029978,0.032419
min,-0.135667,0.665861,0.098127,1.000000,0.935055,0.934589,0.287379,0.470466,0.476145,0.315466,0.830362,0.817215,0.343924,0.491677,0.812719,0.772182,0.853757,0.805728,0.444801,0.938279
fgm,-0.054827,0.632432,0.028613,0.935055,1.000000,0.981957,0.380555,0.469641,0.473428,0.333427,0.860957,0.842267,0.370083,0.483941,0.780337,0.726791,0.846736,0.739359,0.435937,0.993060
fga,-0.064527,0.606140,0.033211,0.934589,0.981957,1.000000,0.220359,0.545842,0.561527,0.376517,0.845644,0.816882,0.408392,0.407024,0.735593,0.765854,0.851594,0.757664,0.365546,0.983846
fg_pct,0.026698,0.312643,-0.006317,0.287379,0.380555,0.220359,1.000000,-0.229513,-0.281096,-0.103372,0.331263,0.372952,-0.066371,0.536507,0.460126,0.033200,0.231340,0.141388,0.480814,0.339170
fg3m,0.119720,0.317638,0.052553,0.470466,0.469641,0.545842,-0.229513,1.000000,0.970327,0.794675,0.305945,0.229860,0.486999,-0.266340,0.146695,0.577157,0.364427,0.474927,-0.159113,0.518514
fg3a,0.129630,0.300426,0.041192,0.476145,0.473428,0.561527,-0.281096,0.970327,1.000000,0.739364,0.315228,0.237878,0.486603,-0.277315,0.141777,0.600614,0.378848,0.497124,-0.175582,0.520817
fg3_pct,0.070805,0.268493,0.051766,0.315466,0.333427,0.376517,-0.103372,0.794675,0.739364,1.000000,0.190752,0.118963,0.423640,-0.257111,0.056853,0.436321,0.229870,0.331129,-0.175179,0.371578
ftm,-0.115019,0.555282,-0.003840,0.830362,0.860957,0.845644,0.331263,0.305945,0.315228,0.190752,1.000000,0.979800,0.414322,0.498119,0.710361,0.634521,0.811627,0.661650,0.411292,0.891704
fta,-0.115775,0.540295,-0.026925,0.817215,0.842267,0.816882,0.372952,0.229860,0.237878,0.118963,0.979800,1.000000,0.265277,0.563397,0.736216,0.589081,0.805188,0.646227,0.466034,0.865915
ft_pct,-0.031432,0.263519,0.125349,0.343924,0.370083,0.408392,-0.066371,0.486999,0.486603,0.423640,0.414322,0.265277,1.000000,-0.137964,0.123281,0.426060,0.298135,0.295219,-0.110890,0.414224
oreb,-0.124129,0.387633,-0.024619,0.491677,0.483941,0.407024,0.536507,-0.266340,-0.277315,-0.257111,0.498119,0.563397,-0.137964,1.000000,0.754759,0.073379,0.404321,0.301139,0.721975,0.450229
dreb,-0.059914,0.578140,0.072287,0.812719,0.780337,0.735593,0.460126,0.146695,0.141777,0.056853,0.710361,0.736216,0.123281,0.754759,1.000000,0.452876,0.678480,0.584927,0.692494,0.764957
ast,-0.086782,0.500269,0.117791,0.772182,0.726791,0.765854,0.033200,0.577157,0.600614,0.436321,0.634521,0.589081,0.426060,0.073379,0.452876,1.000000,0.792530,0.769886,0.067519,0.742744
tov,-0.137975,0.533843,0.024266,0.853757,0.846736,0.851594,0.231340,0.364427,0.378848,0.229870,0.811627,0.805188,0.298135,0.404321,0.678480,0.792530,1.000000,0.734478,0.343912,0.850964
stl,-0.104539,0.538810,0.057690,0.805728,0.739359,0.757664,0.141388,0.474927,0.497124,0.331129,0.661650,0.646227,0.295219,0.301139,0.584927,0.769886,0.734478,1.000000,0.270817,0.748346
blk,-0.029974,0.370234,-0.029978,0.444801,0.435937,0.365546,0.480814,-0.159113,-0.175582,-0.175179,0.411292,0.466034,-0.110890,0.721975,0.692494,0.067519,0.343912,0.270817,1.000000,0.407545
pts,-0.054850,0.632718,0.032419,0.938279,0.993060,0.983846,0.339170,0.518514,0.520817,0.371578,0.891704,0.865915,0.414224,0.450229,0.764957,0.742744,0.850964,0.748346,0.407545,1.000000

In [81]:
df_players_data.count() # returns the value in each DF column

player_id    10633
season_id    10633
gp           10633
age          10631
min          10633
fgm          10633
fga          10633
fg_pct       10633
fg3m         10633
fg3a         10633
fg3_pct      10633
ftm          10633
fta          10633
ft_pct       10633
oreb         10633
dreb         10633
ast          10633
tov          10633
stl          10633
blk          10633
pts          10633
dtype: int64

In [84]:
df_players_data.max(numeric_only=True)

player_id    1629541.0
gp                85.0
age               44.0
min               44.4
fgm               12.2
fga               27.8
fg_pct             1.0
fg3m               5.1
fg3a              13.2
fg3_pct            1.0
ftm                9.7
fta               13.1
ft_pct             1.0
oreb               6.8
dreb              11.5
ast               11.7
tov                5.7
stl                2.9
blk                3.9
pts               36.1
dtype: float64

In [85]:
df_players_data.min(numeric_only=True)

player_id     2.0
gp            1.0
age          18.0
min           0.1
fgm           0.0
fga           0.0
fg_pct        0.0
fg3m          0.0
fg3a          0.0
fg3_pct       0.0
ftm           0.0
fta           0.0
ft_pct        0.0
oreb          0.0
dreb          0.0
ast           0.0
tov           0.0
stl           0.0
blk           0.0
pts           0.0
dtype: float64

In [88]:
df_players_data.median(numeric_only=True) # This method is useful when you want to find the central position of the data without having extreme values significantly affect the result.

player_id    2501.000
gp             59.000
age            27.000
min            19.800
fgm             2.500
fga             5.700
fg_pct          0.437
fg3m            0.300
fg3a            1.000
fg3_pct         0.298
ftm             1.100
fta             1.500
ft_pct          0.745
oreb            0.700
dreb            2.200
ast             1.200
tov             1.000
stl             0.600
blk             0.300
pts             6.600
dtype: float64

In [92]:
df_players_data.std(numeric_only=True) # The standard deviation is a measure of dispersion that indicates how much the values of each column deviate from their mean

player_id    388278.044987
gp               25.115265
age               4.344703
min              10.099563
fgm               2.159450
fga               4.594357
fg_pct            0.097001
fg3m              0.661287
fg3a              1.743706
fg3_pct           0.179157
ftm               1.397361
fta               1.769024
ft_pct            0.195102
oreb              0.831041
dreb              1.789594
ast               1.789208
tov               0.791090
stl               0.449050
blk               0.481362
pts               5.903179
dtype: float64

# Dataframe Columns

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [4]:
df_slim = df.sample(20)

In [6]:
list(df_slim) # retrieves all the column names

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts']

In [7]:
df_slim.player_name

1332          George Hill
25            Paul Pierce
153           Joe Johnson
2581     Jonathon Simmons
1940        Iman Shumpert
721             David Lee
1066          Jason Smith
335            David West
2421        Dwight Powell
490            Beno Udrih
608      Shaun Livingston
244         Manu Ginobili
1405    Marreese Speights
1046          Ian Mahinmi
1445    Russell Westbrook
2610        Mario Hezonja
1154          Mike Conley
1672      Wayne Ellington
33            Paul Pierce
2522          Tarik Black
Name: player_name, dtype: object

In [9]:
df_slim['pts']

1332     894.0
25      1769.0
153     1245.0
2581     331.0
1940     567.0
721      876.0
1066     420.0
335      554.0
2421      90.0
490      340.0
608      318.0
244     1237.0
1405     711.0
1046     354.0
1445    1558.0
2610     317.0
1154     788.0
1672     648.0
33      1430.0
2522     383.0
Name: pts, dtype: float64

In [11]:
type(df_slim['pts'])

pandas.core.series.Series

In [12]:
df_slim[['player_name', 'pts']]

            player_name     pts
1332        George Hill   894.0
25          Paul Pierce  1769.0
153         Joe Johnson  1245.0
2581   Jonathon Simmons   331.0
1940      Iman Shumpert   567.0
721           David Lee   876.0
1066        Jason Smith   420.0
335          David West   554.0
2421      Dwight Powell    90.0
490          Beno Udrih   340.0
608    Shaun Livingston   318.0
244       Manu Ginobili  1237.0
1405  Marreese Speights   711.0
1046        Ian Mahinmi   354.0
1445  Russell Westbrook  1558.0
2610      Mario Hezonja   317.0
1154        Mike Conley   788.0
1672    Wayne Ellington   648.0
33          Paul Pierce  1430.0
2522        Tarik Black   383.0

In [15]:
list_of_columns = ['player_name', 'ftm', 'fta'] # This is a better way to introduce a list inside the args

In [14]:
df_slim[list_of_columns]

            player_name    ftm    fta
1332        George Hill  114.0  150.0
25          Paul Pierce  549.0  668.0
153         Joe Johnson  159.0  195.0
2581   Jonathon Simmons   69.0   92.0
1940      Iman Shumpert   71.0   90.0
721           David Lee  194.0  237.0
1066        Jason Smith   86.0  102.0
335          David West   63.0   80.0
2421      Dwight Powell   25.0   33.0
490          Beno Udrih   53.0   60.0
608    Shaun Livingston   62.0   79.0
244       Manu Ginobili  309.0  355.0
1405  Marreese Speights  120.0  137.0
1046        Ian Mahinmi   94.0  147.0
1445  Russell Westbrook  340.0  413.0
2610      Mario Hezonja   40.0   50.0
1154        Mike Conley  136.0  158.0
1672    Wayne Ellington   37.0   43.0
33          Paul Pierce  333.0  423.0
2522        Tarik Black   82.0  109.0

In [17]:
list(df_slim)

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts']

In [21]:
df_slim.iloc[:, 0] # search for the column on this index value --> 'player_name'

1332          George Hill
25            Paul Pierce
153           Joe Johnson
2581     Jonathon Simmons
1940        Iman Shumpert
721             David Lee
1066          Jason Smith
335            David West
2421        Dwight Powell
490            Beno Udrih
608      Shaun Livingston
244         Manu Ginobili
1405    Marreese Speights
1046          Ian Mahinmi
1445    Russell Westbrook
2610        Mario Hezonja
1154          Mike Conley
1672      Wayne Ellington
33            Paul Pierce
2522          Tarik Black
Name: player_name, dtype: object

In [22]:
df_slim.iloc[:, 1]

1332     201588
25         1718
153        2207
2581     203613
1940     202697
721      101135
1066     201160
335        2561
2421     203939
490        2757
608        2733
244        1938
1405     201578
1046     101133
1445     201566
2610    1626209
1154     201144
1672     201961
33         1718
2522     204028
Name: player_id, dtype: int64

In [24]:
df_slim.iloc[:, -1] # it returns the last column name

1332     894.0
25      1769.0
153     1245.0
2581     331.0
1940     567.0
721      876.0
1066     420.0
335      554.0
2421      90.0
490      340.0
608      318.0
244     1237.0
1405     711.0
1046     354.0
1445    1558.0
2610     317.0
1154     788.0
1672     648.0
33      1430.0
2522     383.0
Name: pts, dtype: float64

In [26]:
df_slim.iloc[:, 0:3] # pick a group of columns

            player_name  player_id season_id
1332        George Hill     201588   2015-16
25          Paul Pierce       1718   2004-05
153         Joe Johnson       2207   2013-14
2581   Jonathon Simmons     203613   2015-16
1940      Iman Shumpert     202697   2016-17
721           David Lee     101135   2007-08
1066        Jason Smith     201160   2012-13
335          David West       2561   2015-16
2421      Dwight Powell     203939   2014-15
490          Beno Udrih       2757   2006-07
608    Shaun Livingston       2733   2011-12
244       Manu Ginobili       1938   2009-10
1405  Marreese Speights     201578   2016-17
1046        Ian Mahinmi     101133   2011-12
1445  Russell Westbrook     201566   2011-12
2610      Mario Hezonja    1626209   2016-17
1154        Mike Conley     201144   2011-12
1672    Wayne Ellington     201961   2016-17
33          Paul Pierce       1718   2012-13
2522        Tarik Black     204028   2016-17

In [28]:
df_slim.iloc[:, [1,4,6]]

      player_id   age    fgm
1332     201588  30.0  326.0
25         1718  27.0  556.0
153        2207  33.0  462.0
2581     203613  26.0  122.0
1940     202697  26.0  201.0
721      101135  25.0  341.0
1066     201160  27.0  167.0
335        2561  35.0  244.0
2421     203939  23.0   31.0
490        2757  24.0  127.0
608        2733  26.0  127.0
244        1938  32.0  398.0
1405     201578  29.0  244.0
1046     101133  25.0  130.0
1445     201566  23.0  578.0
2610    1626209  22.0  117.0
1154     201144  24.0  296.0
1672     201961  29.0  231.0
33         1718  35.0  476.0
2522     204028  25.0  150.0

In [31]:
random_columns = [0,11,7,16]
df_slim.iloc[:, random_columns]

            player_name   oreb     fga   blk
1332        George Hill   58.0   739.0  17.0
25          Paul Pierce   78.0  1223.0  39.0
153         Joe Johnson   48.0  1018.0  10.0
2581   Jonathon Simmons   16.0   242.0   5.0
1940      Iman Shumpert   39.0   489.0  27.0
721           David Lee  242.0   618.0  29.0
1066        Jason Smith   64.0   341.0  45.0
335          David West   72.0   448.0  55.0
2421      Dwight Powell   18.0    67.0   6.0
490          Beno Udrih   11.0   344.0   1.0
608    Shaun Livingston   39.0   271.0  20.0
244       Manu Ginobili   68.0   903.0  24.0
1405  Marreese Speights   88.0   548.0  41.0
1046        Ian Mahinmi  108.0   238.0  31.0
1445  Russell Westbrook   96.0  1266.0  21.0
2610      Mario Hezonja   20.0   330.0  15.0
1154        Mike Conley   22.0   684.0  11.0
1672    Wayne Ellington   18.0   555.0   4.0
33          Paul Pierce   45.0  1092.0  30.0
2522        Tarik Black  144.0   294.0  44.0

### Adding & Deleting Columns

In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [34]:
df_slim = df.sample(20)

In [35]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2573,Jarell Eddie,204067,2015-16,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0
2375,Tim Hardaway Jr.,203501,2016-17,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0
2690,Jake Layman,1627774,2016-17,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0
2371,Steven Adams,203500,2016-17,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0
1938,Iman Shumpert,202697,2014-15,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0
110,Mike Miller,2034,2001-02,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0
2306,Jeff Withey,203481,2014-15,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0
1559,Jodie Meeks,201975,2013-14,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0
399,Leandro Barbosa,2571,2009-10,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0
995,Al Horford,201143,2008-09,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0
1485,Dante Cunningham,201967,2010-11,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0
2558,D'Angelo Russell,1626156,2016-17,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0
536,JR Smith,2747,2013-14,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0
1238,Anthony Tolliver,201229,2011-12,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0
73,Jason Terry,1891,2015-16,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0
1806,Kevin Seraphin,202338,2013-14,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0
838,Ronnie Price,101179,2010-11,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0
1823,Luke Babbitt,202337,2010-11,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0
1799,Jordan Crawford,202348,2011-12,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0

In [38]:
df_slim['ppg'] =  0 # Add a new column with default value = 0 for each row

In [37]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2573,Jarell Eddie,204067,2015-16,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0,0
2375,Tim Hardaway Jr.,203501,2016-17,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0,0
2690,Jake Layman,1627774,2016-17,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0,0
2371,Steven Adams,203500,2016-17,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0,0
1938,Iman Shumpert,202697,2014-15,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0,0
110,Mike Miller,2034,2001-02,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0,0
2306,Jeff Withey,203481,2014-15,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0,0
1559,Jodie Meeks,201975,2013-14,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0,0
399,Leandro Barbosa,2571,2009-10,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0,0
995,Al Horford,201143,2008-09,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0,0
1485,Dante Cunningham,201967,2010-11,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0,0
2558,D'Angelo Russell,1626156,2016-17,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0,0
536,JR Smith,2747,2013-14,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0,0
1238,Anthony Tolliver,201229,2011-12,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0,0
73,Jason Terry,1891,2015-16,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0,0
1806,Kevin Seraphin,202338,2013-14,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0,0
838,Ronnie Price,101179,2010-11,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0,0
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0,0
1823,Luke Babbitt,202337,2010-11,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0,0
1799,Jordan Crawford,202348,2011-12,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0,0

In [43]:
df_slim['ppg'] = round((df_slim['pts'] / df_slim['gp']), 1)

In [44]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2573,Jarell Eddie,204067,2015-16,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0,2.4
2375,Tim Hardaway Jr.,203501,2016-17,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0,14.5
2690,Jake Layman,1627774,2016-17,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0,2.2
2371,Steven Adams,203500,2016-17,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0,11.3
1938,Iman Shumpert,202697,2014-15,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0,8.0
110,Mike Miller,2034,2001-02,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0,15.2
2306,Jeff Withey,203481,2014-15,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0,2.6
1559,Jodie Meeks,201975,2013-14,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0,15.7
399,Leandro Barbosa,2571,2009-10,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0,9.5
995,Al Horford,201143,2008-09,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0,11.5
1485,Dante Cunningham,201967,2010-11,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0,6.2
2558,D'Angelo Russell,1626156,2016-17,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0,15.6
536,JR Smith,2747,2013-14,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0,14.5
1238,Anthony Tolliver,201229,2011-12,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0,4.1
73,Jason Terry,1891,2015-16,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0,5.9
1806,Kevin Seraphin,202338,2013-14,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0,4.7
838,Ronnie Price,101179,2010-11,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0,3.3
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0,4.5
1823,Luke Babbitt,202337,2010-11,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0,1.5
1799,Jordan Crawford,202348,2011-12,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0,14.7

In [46]:
# This method offers more posibilities
df_slim.insert(3, column = 'league', value = 'NBA')

In [47]:
df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
2573,Jarell Eddie,204067,2015-16,NBA,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0,2.4
2375,Tim Hardaway Jr.,203501,2016-17,NBA,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0,14.5
2690,Jake Layman,1627774,2016-17,NBA,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0,2.2
2371,Steven Adams,203500,2016-17,NBA,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0,11.3
1938,Iman Shumpert,202697,2014-15,NBA,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0,8.0
110,Mike Miller,2034,2001-02,NBA,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0,15.2
2306,Jeff Withey,203481,2014-15,NBA,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0,2.6
1559,Jodie Meeks,201975,2013-14,NBA,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0,15.7
399,Leandro Barbosa,2571,2009-10,NBA,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0,9.5
995,Al Horford,201143,2008-09,NBA,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0,11.5
1485,Dante Cunningham,201967,2010-11,NBA,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0,6.2
2558,D'Angelo Russell,1626156,2016-17,NBA,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0,15.6
536,JR Smith,2747,2013-14,NBA,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0,14.5
1238,Anthony Tolliver,201229,2011-12,NBA,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0,4.1
73,Jason Terry,1891,2015-16,NBA,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0,5.9
1806,Kevin Seraphin,202338,2013-14,NBA,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0,4.7
838,Ronnie Price,101179,2010-11,NBA,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0,3.3
2343,Reggie Bullock,203493,2016-17,NBA,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0,4.5
1823,Luke Babbitt,202337,2010-11,NBA,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0,1.5
1799,Jordan Crawford,202348,2011-12,NBA,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0,14.7

In [48]:
del df_slim['ppg']

In [49]:
df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2573,Jarell Eddie,204067,2015-16,NBA,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0
2375,Tim Hardaway Jr.,203501,2016-17,NBA,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0
2690,Jake Layman,1627774,2016-17,NBA,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0
2371,Steven Adams,203500,2016-17,NBA,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0
1938,Iman Shumpert,202697,2014-15,NBA,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0
110,Mike Miller,2034,2001-02,NBA,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0
2306,Jeff Withey,203481,2014-15,NBA,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0
1559,Jodie Meeks,201975,2013-14,NBA,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0
399,Leandro Barbosa,2571,2009-10,NBA,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0
995,Al Horford,201143,2008-09,NBA,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0
1485,Dante Cunningham,201967,2010-11,NBA,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0
2558,D'Angelo Russell,1626156,2016-17,NBA,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0
536,JR Smith,2747,2013-14,NBA,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0
1238,Anthony Tolliver,201229,2011-12,NBA,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0
73,Jason Terry,1891,2015-16,NBA,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0
1806,Kevin Seraphin,202338,2013-14,NBA,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0
838,Ronnie Price,101179,2010-11,NBA,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0
2343,Reggie Bullock,203493,2016-17,NBA,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0
1823,Luke Babbitt,202337,2010-11,NBA,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0
1799,Jordan Crawford,202348,2011-12,NBA,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0

In [50]:
df_dropped = df_slim.drop('league', axis=1)

In [51]:
df_dropped

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2573,Jarell Eddie,204067,2015-16,26.0,24.0,146.767,20.0,65.0,15.0,8.0,8.0,2.0,21.0,5.0,1.0,5.0,1.0,63.0
2375,Tim Hardaway Jr.,203501,2016-17,79.0,25.0,2153.690,415.0,912.0,149.0,164.0,214.0,35.0,189.0,182.0,106.0,55.0,15.0,1143.0
2690,Jake Layman,1627774,2016-17,35.0,23.0,248.777,26.0,89.0,13.0,13.0,17.0,6.0,18.0,11.0,11.0,9.0,3.0,78.0
2371,Steven Adams,203500,2016-17,80.0,23.0,2389.400,374.0,655.0,0.0,157.0,257.0,281.0,332.0,86.0,146.0,89.0,78.0,905.0
1938,Iman Shumpert,202697,2014-15,62.0,25.0,1544.600,193.0,471.0,67.0,43.0,64.0,55.0,169.0,135.0,91.0,81.0,16.0,496.0
110,Mike Miller,2034,2001-02,63.0,22.0,2127.890,351.0,802.0,116.0,138.0,181.0,49.0,224.0,198.0,108.0,47.0,23.0,956.0
2306,Jeff Withey,203481,2014-15,37.0,25.0,258.585,32.0,64.0,0.0,34.0,50.0,23.0,41.0,11.0,12.0,4.0,18.0,98.0
1559,Jodie Meeks,201975,2013-14,77.0,26.0,2556.040,413.0,892.0,162.0,221.0,258.0,30.0,164.0,138.0,111.0,111.0,4.0,1209.0
399,Leandro Barbosa,2571,2009-10,44.0,27.0,785.603,155.0,365.0,44.0,64.0,73.0,11.0,58.0,64.0,46.0,23.0,12.0,418.0
995,Al Horford,201143,2008-09,67.0,23.0,2242.500,312.0,594.0,0.0,149.0,205.0,145.0,479.0,163.0,103.0,53.0,95.0,773.0
1485,Dante Cunningham,201967,2010-11,78.0,24.0,1636.930,218.0,472.0,1.0,45.0,62.0,96.0,181.0,43.0,51.0,54.0,43.0,482.0
2558,D'Angelo Russell,1626156,2016-17,63.0,21.0,1810.590,351.0,867.0,135.0,147.0,188.0,31.0,190.0,303.0,176.0,87.0,16.0,984.0
536,JR Smith,2747,2013-14,74.0,28.0,2421.210,396.0,955.0,189.0,90.0,138.0,35.0,261.0,219.0,108.0,65.0,20.0,1071.0
1238,Anthony Tolliver,201229,2011-12,51.0,27.0,881.500,71.0,182.0,25.0,41.0,55.0,50.0,103.0,22.0,35.0,18.0,19.0,208.0
73,Jason Terry,1891,2015-16,72.0,38.0,1257.650,151.0,376.0,93.0,27.0,33.0,14.0,65.0,103.0,49.0,47.0,9.0,422.0
1806,Kevin Seraphin,202338,2013-14,53.0,24.0,578.425,111.0,220.0,0.0,27.0,31.0,53.0,75.0,17.0,41.0,3.0,26.0,249.0
838,Ronnie Price,101179,2010-11,59.0,28.0,717.002,74.0,210.0,20.0,29.0,39.0,22.0,39.0,56.0,55.0,42.0,5.0,197.0
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0
1823,Luke Babbitt,202337,2010-11,24.0,22.0,137.255,15.0,55.0,3.0,3.0,9.0,6.0,24.0,6.0,8.0,2.0,2.0,36.0
1799,Jordan Crawford,202348,2011-12,64.0,23.0,1752.640,349.0,872.0,79.0,161.0,203.0,44.0,124.0,190.0,141.0,59.0,5.0,938.0

In [52]:
# new_df = old_df[['col1', 'col2', 'col3']]
reb_df = df_slim[['player_name', 'oreb', 'dreb']]

In [53]:
reb_df

           player_name   oreb   dreb
2573      Jarell Eddie    2.0   21.0
2375  Tim Hardaway Jr.   35.0  189.0
2690       Jake Layman    6.0   18.0
2371      Steven Adams  281.0  332.0
1938     Iman Shumpert   55.0  169.0
110        Mike Miller   49.0  224.0
2306       Jeff Withey   23.0   41.0
1559       Jodie Meeks   30.0  164.0
399    Leandro Barbosa   11.0   58.0
995         Al Horford  145.0  479.0
1485  Dante Cunningham   96.0  181.0
2558  D'Angelo Russell   31.0  190.0
536           JR Smith   35.0  261.0
1238  Anthony Tolliver   50.0  103.0
73         Jason Terry   14.0   65.0
1806    Kevin Seraphin   53.0   75.0
838       Ronnie Price   22.0   39.0
2343    Reggie Bullock   13.0   51.0
1823      Luke Babbitt    6.0   24.0
1799   Jordan Crawford   44.0  124.0

### Renaming Columns

In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [69]:
df = df[['player_name', 'gp', 'min']]

In [70]:
df_slim = df.sample(10)

In [73]:
df_slim.columns = ['player_name', 'games_played', 'minutes'] # Changing name of columns

In [74]:
df_slim

            player_name  games_played   minutes
667        Andrew Bogut          32.0   785.702
1676    Wesley Matthews          69.0  2402.620
423       Udonis Haslem          81.0  2490.450
577           Luol Deng          74.0  2393.940
1283   Danilo Gallinari          28.0   411.745
1075         Jeff Green          81.0  2251.410
1422      Nicolas Batum          70.0  2447.710
1925      E'Twaun Moore          79.0  1505.730
2486  Langston Galloway          74.0  1494.470
1175     Ramon Sessions          61.0  1651.560

In [75]:
new_column_names = ['player', 'games_p', 'minutos']

In [76]:
df_slim.columns = new_column_names

In [77]:
df_slim

                 player  games_p   minutos
667        Andrew Bogut     32.0   785.702
1676    Wesley Matthews     69.0  2402.620
423       Udonis Haslem     81.0  2490.450
577           Luol Deng     74.0  2393.940
1283   Danilo Gallinari     28.0   411.745
1075         Jeff Green     81.0  2251.410
1422      Nicolas Batum     70.0  2447.710
1925      E'Twaun Moore     79.0  1505.730
2486  Langston Galloway     74.0  1494.470
1175     Ramon Sessions     61.0  1651.560

In [80]:
df_new = df_slim.rename(columns = {
    'games_p': 'games_played',
    'minutos': 'minutes'
})

In [81]:
df_new

                 player  games_played   minutes
667        Andrew Bogut          32.0   785.702
1676    Wesley Matthews          69.0  2402.620
423       Udonis Haslem          81.0  2490.450
577           Luol Deng          74.0  2393.940
1283   Danilo Gallinari          28.0   411.745
1075         Jeff Green          81.0  2251.410
1422      Nicolas Batum          70.0  2447.710
1925      E'Twaun Moore          79.0  1505.730
2486  Langston Galloway          74.0  1494.470
1175     Ramon Sessions          61.0  1651.560

### Selecting Rows

In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [85]:
df_slim = df.sample(20)

In [86]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1510,DeMarre Carroll,201960,2011-12,24.0,25.0,348.018,43.0,105.0,7.0,14.0,16.0,28.0,25.0,18.0,11.0,12.0,1.0,107.0
531,JR Smith,2747,2008-09,81.0,23.0,2244.620,424.0,950.0,180.0,205.0,272.0,43.0,254.0,227.0,150.0,78.0,14.0,1233.0
2523,Tim Frazier,204025,2014-15,11.0,24.0,239.498,21.0,61.0,5.0,10.0,21.0,6.0,22.0,60.0,25.0,8.0,0.0,57.0
186,Richard Jefferson,2210,2014-15,74.0,35.0,1244.150,144.0,324.0,66.0,78.0,114.0,25.0,158.0,61.0,52.0,32.0,11.0,432.0
1992,Lance Thomas,202498,2011-12,42.0,24.0,629.495,57.0,126.0,0.0,52.0,62.0,49.0,77.0,12.0,24.0,10.0,7.0,166.0
124,Mike Miller,2034,2015-16,47.0,36.0,372.960,22.0,62.0,19.0,0.0,0.0,6.0,47.0,40.0,17.0,13.0,4.0,63.0
2234,Tyler Zeller,203092,2014-15,82.0,25.0,1730.720,340.0,619.0,0.0,153.0,186.0,146.0,319.0,113.0,76.0,18.0,52.0,833.0
1357,Jerryd Bayless,201573,2013-14,72.0,25.0,1685.720,248.0,617.0,76.0,94.0,118.0,22.0,123.0,194.0,82.0,60.0,9.0,666.0
424,Udonis Haslem,2617,2006-07,79.0,27.0,2482.820,353.0,717.0,0.0,138.0,203.0,188.0,466.0,97.0,110.0,49.0,26.0,844.0
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0
1821,Larry Sanders,202336,2014-15,27.0,26.0,585.528,86.0,172.0,0.0,24.0,48.0,67.0,99.0,23.0,28.0,26.0,39.0,196.0
1097,Joel Anthony,201202,2014-15,49.0,32.0,406.440,36.0,62.0,0.0,15.0,22.0,32.0,61.0,5.0,12.0,12.0,49.0,87.0
494,Beno Udrih,2757,2010-11,79.0,28.0,2733.710,412.0,824.0,65.0,197.0,228.0,41.0,224.0,386.0,141.0,94.0,9.0,1086.0
1250,Brandon Rush,201575,2011-12,65.0,26.0,1717.510,235.0,469.0,99.0,65.0,82.0,33.0,218.0,88.0,68.0,35.0,58.0,634.0
395,Leandro Barbosa,2571,2005-06,57.0,23.0,1592.260,273.0,567.0,87.0,111.0,147.0,31.0,119.0,158.0,89.0,48.0,6.0,744.0
675,Brandon Bass,101138,2008-09,81.0,24.0,1574.380,252.0,508.0,0.0,182.0,210.0,129.0,238.0,43.0,86.0,27.0,55.0,686.0
2402,Bojan Bogdanovic,202711,2015-16,79.0,27.0,2114.650,324.0,749.0,129.0,110.0,132.0,36.0,219.0,99.0,115.0,29.0,5.0,887.0
1741,Evan Turner,202323,2014-15,82.0,26.0,2259.830,320.0,746.0,33.0,106.0,141.0,40.0,377.0,449.0,198.0,83.0,19.0,779.0
401,Leandro Barbosa,2571,2011-12,64.0,29.0,1381.690,271.0,637.0,65.0,101.0,124.0,33.0,95.0,96.0,94.0,56.0,7.0,708.0
145,Joe Johnson,2207,2005-06,82.0,25.0,3339.660,632.0,1395.0,128.0,261.0,330.0,98.0,237.0,536.0,267.0,103.0,31.0,1653.0

In [89]:
df_slim.iloc[8] # returns eighth row. Remember first row = 0

player_name    Udonis Haslem
player_id               2617
season_id            2006-07
gp                      79.0
age                     27.0
min                  2482.82
fgm                    353.0
fga                    717.0
fg3m                     0.0
ftm                    138.0
fta                    203.0
oreb                   188.0
dreb                   466.0
ast                     97.0
tov                    110.0
stl                     49.0
blk                     26.0
pts                    844.0
Name: 424, dtype: object

In [90]:
df_print = df_slim.iloc[1:11] # returns 10 rows from our DF

In [91]:
df_print

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
531,JR Smith,2747,2008-09,81.0,23.0,2244.620,424.0,950.0,180.0,205.0,272.0,43.0,254.0,227.0,150.0,78.0,14.0,1233.0
2523,Tim Frazier,204025,2014-15,11.0,24.0,239.498,21.0,61.0,5.0,10.0,21.0,6.0,22.0,60.0,25.0,8.0,0.0,57.0
186,Richard Jefferson,2210,2014-15,74.0,35.0,1244.150,144.0,324.0,66.0,78.0,114.0,25.0,158.0,61.0,52.0,32.0,11.0,432.0
1992,Lance Thomas,202498,2011-12,42.0,24.0,629.495,57.0,126.0,0.0,52.0,62.0,49.0,77.0,12.0,24.0,10.0,7.0,166.0
124,Mike Miller,2034,2015-16,47.0,36.0,372.960,22.0,62.0,19.0,0.0,0.0,6.0,47.0,40.0,17.0,13.0,4.0,63.0
2234,Tyler Zeller,203092,2014-15,82.0,25.0,1730.720,340.0,619.0,0.0,153.0,186.0,146.0,319.0,113.0,76.0,18.0,52.0,833.0
1357,Jerryd Bayless,201573,2013-14,72.0,25.0,1685.720,248.0,617.0,76.0,94.0,118.0,22.0,123.0,194.0,82.0,60.0,9.0,666.0
424,Udonis Haslem,2617,2006-07,79.0,27.0,2482.820,353.0,717.0,0.0,138.0,203.0,188.0,466.0,97.0,110.0,49.0,26.0,844.0
2343,Reggie Bullock,203493,2016-17,31.0,26.0,466.793,54.0,128.0,28.0,5.0,7.0,13.0,51.0,29.0,10.0,18.0,3.0,141.0
1821,Larry Sanders,202336,2014-15,27.0,26.0,585.528,86.0,172.0,0.0,24.0,48.0,67.0,99.0,23.0,28.0,26.0,39.0,196.0

In [92]:
celtics_dict = {
    'player_name': ['Jaylen Brown', 'Jayson Tatum', 'Derrick White', 'Jrue Holiday', 'Neemias Queta'],
    'ppg': [ 26.8, 30.3, 12.4, 14.1, 8.3 ],
    'rpg': [ 5.3, 8.2, 4.5, 4.7, 7.5 ],
    'apg': [ 4.4, 5.1, 6.3, 5.9, 0.6 ]
}

In [94]:
pos = ['sg', 'pf', 'pg', 'sg', 'c']
df = pd.DataFrame(celtics_dict, index=pos)

In [95]:
df

      player_name   ppg  rpg  apg
sg   Jaylen Brown  26.8  5.3  4.4
pf   Jayson Tatum  30.3  8.2  5.1
pg  Derrick White  12.4  4.5  6.3
sg   Jrue Holiday  14.1  4.7  5.9
c   Neemias Queta   8.3  7.5  0.6

In [97]:
df.loc['pg'] #  .loc -> uses strings | .iloc -> uses integer

player_name    Derrick White
ppg                     12.4
rpg                      4.5
apg                      6.3
Name: pg, dtype: object

In [98]:
df.loc[['sf','pf']]

KeyError: "['sf'] not in index"